<div id="ucRightWork_divShortcut" class="divShopMain_Right_Work_Shortcut" style="height:85px;">
   <ul class="ulShopMain_Right_Work_Shortcut_Title">
      <li class="liShopMain_Right_Work_Shortcut_Title_Tag">
         快捷操作&nbsp;</li>
   </ul>
   <div class="divShopMain_Right_Work_Shortcut_List">
      <a href="<%= Url.Action("M818ShopItemList") %>">
      <img border="0" alt="" width="90" height="37" src="/content/images/cardpush/m818/Right_Work_Shortcut_List-Bt01.gif" /></a>
      <a href="<%= Url.Action("Conversion") %>">
      <img border="0" alt="" width="90" height="37" src="/content/images/cardpush/m818/Right_Work_Shortcut_List-Bt.gif" /></a>
      <%--<a href="http://Shop.m818.com/PriceManage/PriceSetting.aspx">
      <img alt="" width="90" height="37" src="/content/images/cardpush/m818/Right_Work_Shortcut_List-Bt03.gif" /></a>
      <a href="http://Shop.m818.com/ReportManage/SaleReport.aspx">
      <img alt="" width="90" height="37" src="/content/images/cardpush/m818/Right_Work_Shortcut_List-Bt04.gif" /></a>--%>
   </div>
   <%--<div class="divShopMain_Right_Work_Shortcut_List">
      <a target="_blank" href="http://Pay.m818.com/SwapBankNo.koc?BankType=2&amp;ToUrl=Account%2fBankCharge.aspx">
      <img alt="" width="90" height="37" src="/content/images/cardpush/m818/Right_Work_Shortcut_List-Bt05.gif" /></a>
      <a href="http://Shop.m818.com/StockManage/StockManage.aspx">
      <img alt="" width="90" height="37" src="/content/images/cardpush/m818/Right_Work_Shortcut_List-Bt06.gif" /></a>
      <a target="_blank" href="http://Pay.m818.com/SwapBankNo.koc?BankType=2&amp;ToUrl=BillManage%2fBankTradeList.aspx">
      <img alt="" width="90" height="37" src="/content/images/cardpush/m818/Right_Work_Shortcut_List-Bt07.gif" /></a>
      <a target="_blank" href="http://Pay.m818.com/SwapBankNo.koc?BankType=2&amp;ToUrl=Account%2fBankCash.aspx">
      <img alt="" width="90" height="37" src="/content/images/cardpush/m818/Right_Work_Shortcut_List-Bt08.gif" /></a>
   </div>--%>
</div>
